/*TAG SELECTORS*/

body {
    /* margin: 0; */
}



/*CLASS SELECTORS*/

.back-img {
    
    background-image: url("../images/img3.png");
    
    /*making borders of divs visible is helpful in debugging
    border: 1px solid; border-color: red;
    */
    
    border-radius: 30px;
    
    /*height and width of div needs to be more than the image dimensions when using the image as a div background, otherwise the image would not be fully visible*/ 
    height: 362px; 
    width: 976px;

    margin: auto;
}

.front-img {

    /*transform: skew(-50deg) rotate(15deg);*/
    
    /*changing height and width of the div in which the svg is situated has no effect on the visibility of the svg*/ 
    width: 600px;
    
    position: relative;
    left: 154px;
    top: 54px;
}

.trigger {
    margin: auto;
}
