/*TAG SELECTORS*/

body {
    /*
    border: 1px solid;
    border-color: red;
    */
    margin: 0;
}

td {
    text-align: center;
    border: 1px solid;
}
/*ID SELECTORS*/

#top-cloud {
    position: relative;
    left: 200px;
    margin: 0;
}

#bottom-cloud {
    display: block;
    position: relative;
    left: 350px;

}

#mountain {
    display: block;
    /*this is done so that there is no gap between the image and bottom of the div*/
    
    margin: auto;
}

#main-heading {
    color: #66BFBF;
    font-family: Sacramento, serif;
    font-size: 5rem;
    margin: 10px auto 0 auto;
}

#top-container {
    background-color: #E4F9F5;
    font-family: Rubik, sans-serif;
    padding-top: 50px;
    text-align: center;
}

#middle-container {
    font-family: Rubik, sans-serif;
    text-align: center;
}

#bottom-container {
    font-family: Rubik, sans-serif;
}


/*CLASS SELECTORS*/

.photo {
    height: 200px;
    width: 200px;
    margin: 20px auto 20px auto;
}

.sub-heading {
    font-family: Rubik, sans-serif;
    margin-bottom: 0px;
}
