/*TAG SELECTORS*/

a {
    text-decoration: none;
    color: #11999E;
}

body {
    margin: 0;
}

/*ID SELECTORS*/

#top-cloud {
    position: relative;
    left: 200px;
    margin: 0;
}

#bottom-cloud {
    display: block;
    position: relative;
    left: 350px;

}

#mountain {
    display: block;
    /*this is done so that there is no gap between the image and bottom of the div*/
    
    margin: auto;
}

#main-heading {
    color: #66BFBF;
    font-family: Sacramento, serif;
    font-size: 5rem;
    margin: 10px auto 0 auto;
}

#top-container {
    background-color: #E4F9F5;
    font-family: Rubik, sans-serif;
    padding-top: 50px;
    text-align: center;
}

#middle-container {
    padding: 20px;
    font-family: Rubik, sans-serif;
    text-align: center;
}

#bottom-container {
    font-family: Rubik, sans-serif;
}

#coding-img {
    float: left;
    width: 35%;
    margin-right: 30px;
}

#microcontroller-img {
    float: right;
    width: 35%;
    margin-left: 30px;
}


/*CLASS SELECTORS*/

.photo {
    height: 200px;
    width: 200px;
}

.sub-heading {
    color: #11999E;
    font-family: Rubik, sans-serif;
    margin-bottom: 0px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
