/*TAG SELECTORS*/

body {
    /*
    border: 1px solid;
    border-color: red;
    */
    margin: 0;
}

img {
    /*
    border: 1px solid;
    */
}


/*ID SELECTORS*/

#top-cloud {
    position: relative;
    left: 200px;
    margin: 0;
}

#bottom-cloud {
    display: block;
    position: relative;
    left: 400px;
}

#mountain {
    display: block;
    /*this is done so that there is no gap between the image and bottom of the div*/
    
    margin: auto;
}

#heading {
    font-family: Sacramento, serif;
}

#top-container {
    background-color: #E4F9F5;
    font-family: Rubik, sans-serif;
    padding-top: 50px;
    text-align: center;
}

#middle-container {
    font-family: Rubik, sans-serif;
    text-align: center;
}

#profile-photo {
    height: 200px;
    width: 200px;
    margin-top: 20px;
}


/*CLASS SELECTORS*/
